<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Pegasas" parallel="methods" thread-count="4">
    <test name="Demo Test">
        <classes>
            <class name="lt.liutauras.tests.pegasas.LoginTest"/>

        </classes>
    </test>
</suite>
